BIGMODEL_API_KEY=
BIGMODEL_BASE_URL=https://open.bigmodel.cn/api/paas/v4
BIGMODEL_MODEL=glm-4.7-flash
TRANSLATE_BATCH_SIZE=5
TRANSLATE_MAX_TOKENS=8192
TRANSLATE_THINKING=disabled
TRANSLATE_JSON_MODE=true
TRANSLATE_REQUEST_DELAY_MS=1000
TRANSLATE_MAX_RETRIES=6
TRANSLATE_RETRY_DELAY_MS=10000
